<div style="height: 700px;" style="margin-bottom: 10px;">
    <div class="container mt-5 h-75">
        <div style="width: 100%; display: flex; justify-content: center; margin-top: 30px; margin-bottom: 20px;">
            <h4
                style="width: 220px; background-color: #ECF5FF; color:#1572D3; text-align: center; border-radius: 10px;">
                WHY CHOOSE US</h4>
        </div>
        <div class="row justify-content-center align-items-center" style="margin-top: 8%;">
            <div class="col-md-6 d-flex justify-content-center">
                <img src="assets/images/audicar.png" alt=""
                    style="width: 33.5rem; background-image: url('assets/images/firtsbg.png'); background-size: cover; background-repeat: no-repeat;">
            </div>
            <div class="col-md-6 d-flex flex-column justify-content-center align-items-start p-2">
                <h3>We offer the best experience with our rental deals.</h3>


                <div class="d-flex flex-column mb-3">

                    <div class="d-flex align-items-center mb-3">
                        <div class="box2 bg-light rounded-circle mr-3">
                            <img src="assets/images/locationtick.png" alt="" height="30px">
                        </div>
                        <div class="text">
                            <h5>Best price guaranteed</h5>
                            <p>Find a lower price? We'll refund you 100% of the difference.</p>
                        </div>
                    </div>


                    <div class="d-flex align-items-center mb-3">
                        <div class="box2 bg-light rounded-circle mr-3">
                            <img src="assets/images/user-tick.png" alt="" height="30px">
                        </div>
                        <div class="text">
                            <h5>Experience driver</h5>
                            <p>Don't have a driver? Don't worry, we have many experienced drivers for you.</p>
                        </div>
                    </div>


                    <div class="d-flex align-items-center mb-3">
                        <div class="box2 bg-light rounded-circle mr-3">
                            <img src="assets/images/24hour.png" alt="" height="30px">
                        </div>
                        <div class="text">
                            <h5>24 hour car delivery</h5>
                            <p>Book your car anytime and we will deliver it directly to you.</p>
                        </div>
                    </div>


                    <div class="d-flex align-items-center mb-3">
                        <div class="box2 bg-light rounded-circle mr-3">
                            <img src="assets/images/messages-2.png" alt="" height="30px">
                        </div>
                        <div class="text">
                            <h5>24/7 technical support</h5>
                            <p>Have a question? Contact Rentcars support any time when you have problem.</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>