<!-- Footer -->
<footer class="text-center text-lg-start text-muted" style="background-color: #051C34;">

  <section class="p-1">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4 text-white">RENTSCARS</h6>
          <p class="text-white"><i class="bi bi-geo-alt-fill me-3"></i> Lahore, LHR 10s012, Pak</p>
          <p class="text-white">
            <i class="bi bi-envelope  me-3"></i>
            info&commat;example.com
          </p>
          <p class="text-white"><i class="bi bi-phone me-3"></i> + 01 234 567 88</p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4 text-white">
            Our Product
          </h6>
          <p class="text-white">
            Career
          </p>
          <p class="text-white">
            Car
          </p>
          <p class="text-white">
            Packages
          </p>
          <p class="text-white">
            Features
          </p>
          <p class="text-white">
            Priceline
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4 text-white">
            Resources
          </h6>
          <p class="text-white">
            Download
          </p>
          <p class="text-white">
            Car
          </p>
          <p class="text-white">
            Help Center
          </p>
          <p class="text-white">
            Guides
          </p>
          <p class="text-white">
            Partner Network
          </p>
          <p class="text-white">
            Cruises
          </p>
          <p class="text-white">
            Developer
          </p>
        </div>

        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4 text-white">
            About Rentcars
          </h6>
          <p class="text-white">
            Why choose us
          </p>
          <p class="text-white">
            Our Story
          </p>
          <p class="text-white">
            Invester Relation
          </p>
          <p class="text-white">
            Press Center
          </p>
          <p class="text-white">
            Advertise
          </p>

        </div>
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4 text-white">
            Follow us
          </h6>
          <div class="d-flex">
            <span class="me-4 text-white">
              <i class="bi bi-facebook"></i>
            </span>
            <span class="me-4 text-white">
              <i class="bi bi-instagram"></i>
            </span>

            <span class="me-4 text-white">
              <i class="bi bi-youtube"></i>
            </span>

          </div>

        </div>

      </div>

    </div>
  </section>


  <!-- Copyright -->
  <div class="text-center text-white p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2024 Copyright:
  </div>

</footer>
