<div class="container-fluid">
    <div class="row mt-4">
        <div class="col-md-6">
            <div class="d-flex flex-column justify-content-center align-items-center h-100">
                <div style="width: 75%;">
                    <h1 class="card-title">Find, Book and <br>rent a car <span style="color: #1572D3;">Easily</span></h1>
                    <p class="card-text">Get a car wherever and whenever you need it with your iOS and Android device.</p>
                    <div style="display: flex; padding: 10px;">
                        <img src="assets/images/playstore.png" width="100px" alt="Google Play Store">
                        <img src="assets/images/appstore.png" style="margin-left: 10px;" width="100px" alt="Apple App Store">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="d-flex justify-content-center align-items-center h-100">
                <img src="assets/images/carpic.png" alt="Car Image" style="max-width: 100%;">
            </div>
        </div>
    </div>
</div>

<div class="book" style="background-color: white;">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="form-section">
                    <form action="">
                        <div class="input-box">
                            <span>Location</span>
                            <input type="search" name="" id="" class="form-control" placeholder="Search place">
                        </div>
                        <div class="input-box">
                            <span>Pick-Up Date</span>
                            <input type="date" name="" id="" class="form-control">
                        </div>
                        <div class="input-box">
                            <span>Return Date</span>
                            <input type="date" name="" id="" class="form-control">
                        </div>
                        <input type="submit" name="" id="" class="btn btn-primary btn-block mt-3" value="Submit">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<app-how-it-work></app-how-it-work>
<app-why-choose-us></app-why-choose-us>
<app-rental-detals></app-rental-detals>
<app-review></app-review>

<div class="download" style="height: 80vh; width: 100%; background-image: url('assets/images/downloadbg.png'); background-size: cover; background-repeat: no-repeat;">
    j
</div>
