<div class="container ">
    <div style="width: 100%; display: flex ; justify-content: center; margin-top: 30px; margin-bottom: 20px;">
    <h4 style="width: 180px; background-color: #ECF5FF; color:#1572D3; text-align: center; border-radius: 10px;">How it work </h4>
    </div>
    <div class="h1" style="text-align: center; margin-top: 3rem;">
    <h1>Rent with following 3 working steps</h1>
</div>
<section class="ride " id="ride">
  <div class="ride-section">
      <div class="box">
          <img src="assets/images/locationtick.png" alt="" height="70px">
          <h2>Choose A Loacation </h2>
          <p>Choose your and find <br>
            your best car</p>
      </div>
      <div class="box">
        <img src="assets/images/calendar.png" alt="" height="70px">
        <h2>Pick-Up Date </h2>
          <p>Select your pick up date and <br>
            time to book your car</p>
      </div>
      <div class="box">
        <img src="assets/images/jeep.png" alt="" height="70px">
        <h2>Book A Car </h2>
          <p>Book your car and we will deliver <br>
            it directly to you</p>
      </div>

  </div>
</section>

<section class="car-type" style="margin: 5rem;">
  <div class="container text-center">
    <div class="row align-items-start">
      <div class="col">
        <img src="assets/images/honda.png" alt="" height="50px">

      </div>
      <div class="col">
        <img src="assets/images/jahuar.png" alt="" height="50px">

      </div>
      <div class="col">
        <img src="assets/images/nisan.png" alt="" height="50px">

      </div>
      <div class="col">
        <img src="assets/images/volvo.png" alt="" height="50px">

      </div>
      <div class="col">
        <img src="assets/images/audi.png" alt="" height="50px">

      </div>
      <div class="col">
        <img src="assets/images/chagan.png" alt="" height="50px">

      </div>
    </div>
  </div>
</section>

</div>

